{% extends "base.html" %} 
{% load static %}

{% block title %}
View Appointment Page
{% endblock title %}

{% block content %}
<h1 class="text-center py-3 text-decoration-underline fw-bolder">Add Appointment</h1>


<div class="container">
    
    <form action="" method="post" class='mb-3'>
        {% csrf_token %}

        <div class="py-5 w-50 m-auto">
        <label>Doctor Name:</label>

        <select class="form-control" name="doctor">
            {% for i in doctor %}           
            <option value="{{i.name}}">{{i.name}} [{{i.id}}]</option>
            {% endfor %}
        </select>
        <br>


        
        <label>Patient Name:</label>
         <select class="form-control" name="patient">
            {% for i in patient %}           
            <option value="{{i.name}}">{{i.name}} [{{i.id}}]</option>
            {% endfor %}      
        </select>
        <br>
        
        <label>Date:</label>
        <input type="date" class="form-control" name="date" placeholder='Date' required>
        <br>
        
        <label>Time:</label>
        <input type="time" class="form-control" name="time" placeholder='Time' required>
        <br>

        <input type="submit" value="Submit" class="form-control btn btn-dark">
        </div>
    </form>
</div>


{% if error == "no" %}
     <script>
	   alert('Record Save Successfully');
       window.location=("{% url 'view-appointment' %}");
     </script>
{% endif %}

{% if error == "yes" %}
     <script>
	    alert('Something went wrong, Try Again !');
     </script>
{% endif %}

{% endblock content %}
