{% extends "base.html" %} 
{% load static %}

{% block title %}
Login Page
{% endblock title %}




{% block content %}

{% if error == "no" %}
     <script>
	   alert('Logged In Successfully ?');
       window.location=('{% url 'index' %}');
     </script>
{% endif %}

{% if error == "yes" %}
     <script>
	    alert('Invalid Login Credentials , Try Again !');
     </script>
{% endif %}


<div class="container">
    <h1 class="text-center py-3 text-decoration-underline fw-bolder">Admin Login</h1>
    
    <form action="" method="post" class='mb-3'>
        {% csrf_token %}

        <div class="py-5 w-50 m-auto">
        <label for="uname">Admin Name:</label>
        <input type="text" class="form-control" name="uname" placeholder="Username" required>
        <br>
        <label for="uname">Password:</label>
        <input type="password" class="form-control" name="pword" placeholder="Password" required>
        <br>
        <input type="submit" value="Login" class="form-control btn btn-dark">
        </div>
    </form>
</div>
{% endblock content %}
